.side-play-queue {
  position: fixed;
  top: 0;
  transform: translateX(330px);
  right: 0;
  bottom: 90px;
  width: 330px;
  z-index: 10;
  display: flex;
  transition: transform linear 0.3s;
  flex-direction: column;
  background-color: var(--side-play-queue-bg);
}
.side-play-queue.active {
  transform: translateX(0);
}
.side-play-queue__header {
  padding: 17px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.side-play-queue__options {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 1.2rem;
  font-weight: 500;
  color: #dadada;
  border-radius: 999px;
  display: flex;
  align-items: center;
  padding: 3px;
}
.side-play-queue__option {
  display: inline-block;
  border-radius: 999px;
  padding: 7px 15px;
}
.side-play-queue__option.active {
  font-weight: 600;
  color: var(--white-color);
  background-color: rgba(255, 255, 255, 0.3);
}

.side-play-queue__item {
  border-radius: 5px;
}
.side-play-queue__item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.side-play-queue__item.active {
  background-color: var(--purple-color);
}
.side-play-queue__item.active:hover {
  background-color: var(--purple-color);
}
.side-play-queue__clock .btn__icon,
.side-play-queue__more .btn__icon {
  font-size: 1.5rem;
}
.side-play-queue__clock .btn-circle,
.side-play-queue__more .btn-circle {
  background-color: rgba(255, 255, 255, 0.1);
}
.side-play-queue__clock {
  margin: 0 5px;
}
.side-play-queue__more {
  position: relative;
}
.side-play-queue__dropdown {
  position: absolute;
  top: 60%;
  right: -8px;
  display: none;
}
.side-play-queue__songs {
  overflow-y: scroll;
  flex: 1;
  padding: 0px 8px 16px 8px;
}
.side-play-queue__separation {
  padding: 16px 8px 0;
  font-size: 1.4rem;
}
.side-play-queue__separation-heading {
  color: var(--white-color);
  font-weight: 700;
  padding: 5px 0;
}
.side-play-queue__separation-desc {
  width: 100%;
  display: flex;
  color: #a0a0a0;
  padding-bottom: 8px;
}
.side-play-queue__separation-playlist-name {
  display: inline-block;
  max-width: 100%;
  color: var(--purple-color);
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: fit-content;
  margin-left: 4px;
}
.side-play-queue .media {
  padding: 8px;
}
